@import "tailwindcss";

@theme {
  --color-airbnb: #f66496;
  --font-airbnb:
    Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

body {
  scroll-behavior: smooth;
}
